body{
    background:#b4b1b1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: scroll;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.Logo{
    width:100px;
    height:auto;
    position: fixed;
    top:10px;
    left:10px;
}
button {
      padding: 10px;
      font-size: 16px;
      border: none;
      border-radius: 6px;
      background: #ffd500;
      color: black;
      cursor: pointer;
    }
    button:hover {
      background: #ee7504;
    }
.others {
    position: absolute;
    top: 10px;       
    right: 20px;    
    display: flex;
    align-items: center;
}
.others ul{
 padding: 0 12px;
 position: relative;
}
.others ul::after{
    content: "";
    display: block;
    width: 1px;
    height: 70%;
    background: #545454;
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
}
.others ul:last-child::after{
    display: none;
}
.others ul:first-child{
    position: relative;
}
.others ul:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}
.others ul:first-child i{
    position: absolute;
    right: 17px ;
    top:1.5px;
    
}
.box{
    display: flex;
    flex-direction: column;
    transform: translateY(-50px);
}
input{
   border: none;
   border-radius: 10px; 
   font-size:20px;
   width:250px;
   height:25px;
   margin-bottom: 10px;
}
.login{
   border: none;
   border-radius: 10px; 
   font-size:20px;
   width:250px;
   height:40px;
   margin-bottom: 15px;
}
