body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #0077b6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;
}

.logo img {
  height: 100px;
}
.header-right {
    display: flex;
    align-items: center; 
    margin-right:40px ; 
}

.header-right a {
    display: inline-flex;  
    align-items: center;   
    gap: 6px;              
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    line-height: 1;        
}

.header-right a i {
    font-size: 18px;       
    vertical-align: middle;
}
.content {
  margin-top: 100px;
  padding: 20px;
}

.table-khachhang {
  width: 100%;
  border-collapse: collapse;
}

.table-khachhang th,
.table-khachhang td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.table-khachhang th {
  background-color: #0096c7;
  color: white;
}

.action-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  font-size: 18px;
}

.action-btn.locked {
  color: red;
}

.action-btn.unlocked {
  color: green;
}

.action-btn.reset {
  color: orange;
}
