* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #47d1f085;
}

form {
  background: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  width: 320px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: 0.3s;
}

input:focus {
  border-color: #4facfe;
  outline: none;
  box-shadow: 0 0 8px rgba(79, 172, 254, 0.4);
}

button {
  width: 100%;
  padding: 12px;
  background: #4facfe;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #00c6ff;
}
#errorMsg {
  margin-top: 15px;
  font-size: 14px;
  color: red;
  display: none;
}
.Logo{
    width:150px;
    height:auto;
    position: fixed;
    top:10px;
    left:10px;
    z-index:1;
}